# All the files that come with anago.
anago.exe
anago_en.txt
anago_ja.txt
anago_wx.exe
cnrom.ad
cuckoo.wav
doggrowl.wav
dumpcore.nut
fj2.ad
flashdevice.nut
mingwm10.dll
mmc1.ai
mmc1_skrom.ag
mmc1_surom.ag
mmc3.ag
mmc5.af
programcore.nut
taito_x1_005.ad
tinkalink2.wav
unrom.af
vrc1.ad
vrc2a.ad
vrc2b.ad
vrc3.ad
vrc4.ai
vrc4a.ad
vrc4b.af
vrc4c.ag
vrc4d.ad
vrc6b.af
vrc7.af
wxmsw28u_gcc_custom.dll
